<ul class="nav justify-content-end nav2" style="margin: 10%;">
  
  <li class="nav-item">
    <a class="nav-link text-black" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" href="/login">Login</a>
  </li>
  
</ul>


    
       